.trending-product{
    width: 67%;
    /* border: 1px solid red; */
    /* height: 135px; */
    margin: auto;
}
.trending-txt{
    margin: auto;
/* display: table; */
}
.trending-txt h2{
    font-weight: normal;
font-family: 'Cinzel',serif;
line-height: 1em;
text-transform: uppercase;
font-size: 3.3rem;
}
#popular{
    margin: auto;
    display: table;
}
#popular-head{
  
        margin: auto;
        display: table;
        margin-bottom: 70px;
   
}
.all-product{
    display: flex;
    /* justify-content: space-evenly; */
}

.product-item {
    margin: auto;
}

